
<div class="container mt-4 p-4 border border-primary rounded">
  <h2 class="text-primary">Parent</h2>
  
  <button class="btn btn-warning me-2" (click)="updateMessage()">
    Update Data (OnChanges)
  </button>

  <div class="my-3">
    <button class="btn btn-danger me-2" (click)="toggleChild()">
      {{ isChildVisible ? 'Destroy Child' : 'Create Child' }}
    </button>
  </div>

  <div class="form-group mb-3">
    <label class="fw-bold">Send Data to Child:</label>
    <input type="text" class="form-control" [(ngModel)]="message" placeholder="Type here...">
  </div>

<hr>


  <app-lifecycle-child 
    *ngIf="isChildVisible" 
    [parentData]="message">

    <h3 style="color: purple;">
      This html Content is Projected content!
    </h3>

  </app-lifecycle-child>

  <div style="border: 2px dashed green; padding: 20px; margin-top: 10px;">
  <h2 style="color: blue;">Parent Component (Behavior Subject)</h2>
  
  <button (click)="toggleToShowChildData()">{{isVisible ? 'Hide Data' : 'Show Data (Subscribe it)'}}</button>

  <div *ngIf="isVisible">
      <h3>
    Current User: 
    <span style="color: red; background: yellow; border: 2px solid grey; padding: 5px;">
      {{ lifeService.username$ | async }}
    </span>
  </h3>
  </div>
</div>
  </div>